.jumbotron {
  background: #0065bd;
  color: white;
  padding-bottom: 80px;
}

.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}

.jumbotron .btn-primary:hover {
  background: #7646c1;
}

.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}

.navbar + .jumbotron {
  margin-top: -20px;
}

.jumbotron .lang-logo {
  display: block;
  background: #b01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}

.logo {
  width: 5rem;
  height: 5rem;
}

/* Items */
/* Team Assignment Week 3: 02 - Display data in a professional manner. */
.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px 12px;
  list-style: none;
  margin: 12px 0 0 0;
  padding: 0;
}
.item {
  background-color: #ccc;
  border-color: rgb(185, 185, 185);
  border-radius: 2px;
  padding: 1em;
  max-width: 23.9%;
}
.item-image {
 width: 100%;
}
.item-title {}
.item-description {}
.item-price {
  font-size: 1.2em;
  font-weight: bold;
}
.item-price:before {
  content: "$"
}